h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1rem;
}

.main{
    width: 90vw;
    margin: auto;
}

.tabs{

    border: none;
    display: flex;
    width: 90vw; 
    margin: auto;
    height: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.left{

    border: none;
    display: flex;
    width: 50%;
    height: 500px;

}

.right{

    border: 1px solid #cccccc;
    display: flex;
    width: 50%;
    height: 500px;

}


.tabs__sidebar{

    border: none;
    width: 30%;
    height: auto;
    background: #ffffff;
    display: flex;
    flex-direction: column;

}


.tabs__button{

    display:block;
    padding: 10px;
    background: #eeeeee;
    border: none;
    width: 100%;
    outline: none;
    cursor: pointer;

}


.tabs__button:active{

    background: #dddddd;

}

.tabs__button:not(:last-of-type){

    border-bottom: 1px solid #cccccc;

}


.tabs__button--active{

    font-weight: bold;
    border-left: 2px solid rgb(31, 150, 31);
    background: #dddddd;

}


.tabs__content {

    border: 1px solid #cccccc;
    padding: 15px;    
    width: 100%;              
    max-width: 600px;        
    font-size: 0.8rem;
    display: none;
    overflow-y: auto;

}

.tabs__content > :first-child {
    margin-top: 0;
}

.tabs__content--active {
    display: block;
}

.add-job {
    margin-left: 35%;
}
.remove-job{
    margin-left: 35%;
}
.remove-project{
    margin-left: 29.5%;
}
.add-project {
    margin-left: 35%;
}